Reprise des sujets itération 1 et itération 2 avec Pandas

In [9]:
import csv
import matplotlib.pyplot as plt
import timeit
import numpy as np
import pandas as pd

file_path = ("Data/ESP_PUBLIC.IDENTITE_ARBRE.csv")
df = pd.read_csv(file_path, sep=",", header = 0, index_col=False,names=None)

In [14]:
print(df.columns.to_list())

['ELEM_POINT_ID', 'CODE', 'NOM', 'GENRE', 'GENRE_DESC', 'CATEGORIE', 'CATEGORIE_DESC', 'SOUS_CATEGORIE', 'SOUS_CATEGORIE_DESC', 'CODE_PARENT', 'CODE_PARENT_DESC', 'ADR_SECTEUR', 'BIEN_REFERENCE', 'GENRE_BOTA', 'ESPECE', 'VARIETE', 'STADEDEDEVELOPPEMENT', 'EQUIPE', 'REMARQUES', 'ANNEEDEPLANTATION', 'RAISONDEPLANTATION', 'TRAITEMENTCHENILLES', 'COURRIER', 'IDENTIFIANTPLU', 'TYPEIMPLANTATIONPLU', 'INTITULEPROTECTIONPLU', 'ANNEEABATTAGE', 'ESSOUCHEMENT', 'DIAMETREARBRE', 'CAUSEABATTAGE', 'COLLECTIVITE', 'GeoJSON']

Lire les deux premières ligne du csv des arbres de Grenoble

In [15]:
print(df.head(2))

   ELEM_POINT_ID      CODE       NOM GENRE  GENRE_DESC CATEGORIE  \
0          16750  ESP19318  ESP19318   VEG  VEGETATION     ESP01
1          20142  ESP18095  ESP18095   VEG  VEGETATION     ESP01

  CATEGORIE_DESC SOUS_CATEGORIE      SOUS_CATEGORIE_DESC CODE_PARENT  ...  \
0          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
1          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...

  COURRIER  IDENTIFIANTPLU TYPEIMPLANTATIONPLU INTITULEPROTECTIONPLU  \
0      NaN             NaN                 NaN                   NaN
1      NaN             NaN                 NaN                   NaN

  ANNEEABATTAGE ESSOUCHEMENT DIAMETREARBRE  CAUSEABATTAGE       COLLECTIVITE  \
0           NaN          NaN           NaN            NaN  Ville de Grenoble
1           NaN          NaN           NaN            NaN  Ville de Grenoble

                                             GeoJSON
0  {"type":"Point","coordinates":[5.7394161255246...
1  {"type":"Point","coordinates":[5.7397428849165...

[2 rows x 32 columns]

Extraire l’information concernant l’année de plantation pour l’ensemble des
lignes (rows) et stocker ces informations dans une variable de type List

In [16]:
print(df["ANNEEDEPLANTATION"])

0        1975.0
1        1975.0
2        2001.0
3        1975.0
4        2006.0
          ...
31887    2005.0
31888    1980.0
31889    1980.0
31890    1980.0
31891    2005.0
Name: ANNEEDEPLANTATION, Length: 31892, dtype: float64

Afficher les 50 premières lignes et les 50 dernières lignes de cette liste

In [17]:
print(df.head(50))

    ELEM_POINT_ID      CODE       NOM GENRE  GENRE_DESC CATEGORIE  \
0           16750  ESP19318  ESP19318   VEG  VEGETATION     ESP01
1           20142  ESP18095  ESP18095   VEG  VEGETATION     ESP01
2           23843  ESP17861  ESP17861   VEG  VEGETATION     ESP01
3           23841  ESP17860  ESP17860   VEG  VEGETATION     ESP01
4            1778  ESP16403  ESP16403   VEG  VEGETATION     ESP01
5            1777  ESP16402  ESP16402   VEG  VEGETATION     ESP01
6            1774  ESP16400  ESP16400   VEG  VEGETATION     ESP01
7            1773  ESP16399  ESP16399   VEG  VEGETATION     ESP01
8            1772  ESP16398  ESP16398   VEG  VEGETATION     ESP01
9            1771  ESP16397  ESP16397   VEG  VEGETATION     ESP01
10           1770  ESP16396  ESP16396   VEG  VEGETATION     ESP01
11           1769  ESP16395  ESP16395   VEG  VEGETATION     ESP01
12           1768  ESP16394  ESP16394   VEG  VEGETATION     ESP01
13           1737  ESP16378  ESP16378   VEG  VEGETATION     ESP01
14           1736  ESP16377  ESP16377   VEG  VEGETATION     ESP01
15           1735  ESP16376  ESP16376   VEG  VEGETATION     ESP01
16           1734  ESP16375  ESP16375   VEG  VEGETATION     ESP01
17           1733  ESP16374  ESP16374   VEG  VEGETATION     ESP01
18           1732  ESP16373  ESP16373   VEG  VEGETATION     ESP01
19           1730  ESP16372  ESP16372   VEG  VEGETATION     ESP01
20           1729  ESP16133  ESP16133   VEG  VEGETATION     ESP01
21           1699  ESP16123  ESP16123   VEG  VEGETATION     ESP01
22           1694  ESP16122  ESP16122   VEG  VEGETATION     ESP01
23           1443  ESP15822  ESP15822   VEG  VEGETATION     ESP01
24           1441  ESP15821  ESP15821   VEG  VEGETATION     ESP01
25           1440  ESP15820  ESP15820   VEG  VEGETATION     ESP01
26           1439  ESP15819  ESP15819   VEG  VEGETATION     ESP01
27           1438  ESP15818  ESP15818   VEG  VEGETATION     ESP01
28           1437  ESP15817  ESP15817   VEG  VEGETATION     ESP01
29          27846  ESP15233  ESP15233   VEG  VEGETATION     ESP01
30          27844  ESP15232  ESP15232   VEG  VEGETATION     ESP01
31          27842  ESP15231  ESP15231   VEG  VEGETATION     ESP01
32          27841  ESP15230  ESP15230   VEG  VEGETATION     ESP01
33          27839  ESP15229  ESP15229   VEG  VEGETATION     ESP01
34          24053  ESP15195  ESP15195   VEG  VEGETATION     ESP01
35           9384  ESP13760  ESP13760   VEG  VEGETATION     ESP01
36           9382  ESP13759  ESP13759   VEG  VEGETATION     ESP01
37           9380  ESP13758  ESP13758   VEG  VEGETATION     ESP01
38           9378  ESP13757  ESP13757   VEG  VEGETATION     ESP01
39           9375  ESP13756  ESP13756   VEG  VEGETATION     ESP01
40           9373  ESP13755  ESP13755   VEG  VEGETATION     ESP01
41           9371  ESP13754  ESP13754   VEG  VEGETATION     ESP01
42           9341  ESP13744  ESP13744   VEG  VEGETATION     ESP01
43           9340  ESP13743  ESP13743   VEG  VEGETATION     ESP01
44           9337  ESP13742  ESP13742   VEG  VEGETATION     ESP01
45           9336  ESP13741  ESP13741   VEG  VEGETATION     ESP01
46           9335  ESP13740  ESP13740   VEG  VEGETATION     ESP01
47           9334  ESP13739  ESP13739   VEG  VEGETATION     ESP01
48           9333  ESP13738  ESP13738   VEG  VEGETATION     ESP01
49           9331  ESP13737  ESP13737   VEG  VEGETATION     ESP01

   CATEGORIE_DESC SOUS_CATEGORIE      SOUS_CATEGORIE_DESC CODE_PARENT  ...  \
0           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
1           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
2           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
3           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
4           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
5           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
6           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
7           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
8           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
9           Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
10          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
11          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
12          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
13          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
14          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
15          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
16          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
17          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
18          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
19          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
20          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
21          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
22          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
23          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
24          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
25          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
26          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
27          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
28          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
29          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
30          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
31          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
32          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
33          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
34          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
35          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
36          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
37          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
38          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
39          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
40          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
41          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
42          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
43          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
44          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
45          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
46          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
47          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
48          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...
49          Arbre         ESP174  Arbre d'espaces ouverts      ESP995  ...

   COURRIER  IDENTIFIANTPLU TYPEIMPLANTATIONPLU INTITULEPROTECTIONPLU  \
0       NaN             NaN                 NaN                   NaN
1       NaN             NaN                 NaN                   NaN
2       NaN             NaN                 NaN                   NaN
3       NaN             NaN                 NaN                   NaN
4       NaN             NaN                 NaN                   NaN
5       NaN             NaN                 NaN                   NaN
6       NaN             NaN                 NaN                   NaN
7       NaN             NaN                 NaN                   NaN
8       NaN             NaN                 NaN                   NaN
9       NaN             NaN                 NaN                   NaN
10      NaN             NaN                 NaN                   NaN
11      NaN             NaN                 NaN                   NaN
12      NaN             NaN                 NaN                   NaN
13      NaN             NaN                 NaN                   NaN
14      NaN             NaN                 NaN                   NaN
15      NaN             NaN                 NaN                   NaN
16      NaN             NaN                 NaN                   NaN
17      NaN             NaN                 NaN                   NaN
18      NaN             NaN                 NaN                   NaN
19      NaN             NaN                 NaN                   NaN
20      NaN             NaN                 NaN                   NaN
21      NaN             NaN                 NaN                   NaN
22      NaN             NaN                 NaN                   NaN
23      NaN             NaN                 NaN                   NaN
24      NaN             NaN                 NaN                   NaN
25      NaN             NaN                 NaN                   NaN
26      NaN             NaN                 NaN                   NaN
27      NaN             NaN                 NaN                   NaN
28      NaN             NaN                 NaN                   NaN
29      NaN             NaN                 NaN                   NaN
30      NaN             NaN                 NaN                   NaN
31      NaN             NaN                 NaN                   NaN
32      NaN             NaN                 NaN                   NaN
33      NaN             NaN                 NaN                   NaN
34      NaN             NaN                 NaN                   NaN
35      NaN             NaN                 NaN                   NaN
36      NaN             NaN                 NaN                   NaN
37      NaN             NaN                 NaN                   NaN
38      NaN             NaN                 NaN                   NaN
39      NaN             NaN                 NaN                   NaN
40      NaN             NaN                 NaN                   NaN
41      NaN             NaN                 NaN                   NaN
42      NaN             NaN                 NaN                   NaN
43      NaN             NaN                 NaN                   NaN
44      NaN             NaN                 NaN                   NaN
45      NaN             NaN                 NaN                   NaN
46      NaN             NaN                 NaN                   NaN
47      NaN             NaN                 NaN                   NaN
48      NaN             NaN                 NaN                   NaN
49      NaN             NaN                 NaN                   NaN

   ANNEEABATTAGE ESSOUCHEMENT DIAMETREARBRE  CAUSEABATTAGE       COLLECTIVITE  \
0            NaN          NaN           NaN            NaN  Ville de Grenoble
1            NaN          NaN           NaN            NaN  Ville de Grenoble
2            NaN          NaN           NaN            NaN  Ville de Grenoble
3            NaN          NaN           NaN            NaN  Ville de Grenoble
4            NaN          NaN           NaN            NaN  Ville de Grenoble
5            NaN          NaN           NaN            NaN  Ville de Grenoble
6            NaN          NaN           NaN            NaN  Ville de Grenoble
7            NaN          NaN           NaN            NaN  Ville de Grenoble
8            NaN          NaN           NaN            NaN  Ville de Grenoble
9            NaN          NaN           NaN            NaN  Ville de Grenoble
10           NaN          NaN           NaN            NaN  Ville de Grenoble
11           NaN          NaN           NaN            NaN  Ville de Grenoble
12           NaN          NaN           NaN            NaN  Ville de Grenoble
13           NaN          NaN           NaN            NaN  Ville de Grenoble
14           NaN          NaN           NaN            NaN  Ville de Grenoble
15           NaN          NaN           NaN            NaN  Ville de Grenoble
16           NaN          NaN           NaN            NaN  Ville de Grenoble
17           NaN          NaN           NaN            NaN  Ville de Grenoble
18           NaN          NaN           NaN            NaN  Ville de Grenoble
19           NaN          NaN           NaN            NaN  Ville de Grenoble
20           NaN          NaN           NaN            NaN  Ville de Grenoble
21           NaN          NaN           NaN            NaN  Ville de Grenoble
22           NaN          NaN           NaN            NaN  Ville de Grenoble
23           NaN          NaN           NaN            NaN  Ville de Grenoble
24           NaN          NaN           NaN            NaN  Ville de Grenoble
25           NaN          NaN           NaN            NaN  Ville de Grenoble
26           NaN          NaN           NaN            NaN  Ville de Grenoble
27           NaN          NaN           NaN            NaN  Ville de Grenoble
28           NaN          NaN           NaN            NaN  Ville de Grenoble
29           NaN          NaN           NaN            NaN  Ville de Grenoble
30           NaN          NaN           NaN            NaN  Ville de Grenoble
31           NaN          NaN           NaN            NaN  Ville de Grenoble
32           NaN          NaN           NaN            NaN  Ville de Grenoble
33           NaN          NaN           NaN            NaN  Ville de Grenoble
34           NaN          NaN           NaN            NaN  Ville de Grenoble
35           NaN          NaN           NaN            NaN  Ville de Grenoble
36           NaN          NaN           NaN            NaN  Ville de Grenoble
37           NaN          NaN           NaN            NaN  Ville de Grenoble
38           NaN          NaN           NaN            NaN  Ville de Grenoble
39           NaN          NaN           NaN            NaN  Ville de Grenoble
40           NaN          NaN           NaN            NaN  Ville de Grenoble
41           NaN          NaN           NaN            NaN  Ville de Grenoble
42           NaN          NaN           NaN            NaN  Ville de Grenoble
43           NaN          NaN           NaN            NaN  Ville de Grenoble
44           NaN          NaN           NaN            NaN  Ville de Grenoble
45           NaN          NaN           NaN            NaN  Ville de Grenoble
46           NaN          NaN           NaN            NaN  Ville de Grenoble
47           NaN          NaN           NaN            NaN  Ville de Grenoble
48           NaN          NaN           NaN            NaN  Ville de Grenoble
49           NaN          NaN           NaN            NaN  Ville de Grenoble

                                              GeoJSON
0   {"type":"Point","coordinates":[5.7394161255246...
1   {"type":"Point","coordinates":[5.7397428849165...
2   {"type":"Point","coordinates":[5.7393229609447...
3   {"type":"Point","coordinates":[5.7410808202830...
4   {"type":"Point","coordinates":[5.7408124079286...
5   {"type":"Point","coordinates":[5.7405973404607...
6   {"type":"Point","coordinates":[5.7396934108038...
7   {"type":"Point","coordinates":[5.7398766506992...
8   {"type":"Point","coordinates":[5.7415575108665...
9   {"type":"Point","coordinates":[5.7414276752629...
10  {"type":"Point","coordinates":[5.7402998860285...
11  {"type":"Point","coordinates":[5.7410481666544...
12  {"type":"Point","coordinates":[5.7400400482784...
13  {"type":"Point","coordinates":[5.7406793578916...
14  {"type":"Point","coordinates":[5.7407574288795...
15  {"type":"Point","coordinates":[5.7407072205939...
16  {"type":"Point","coordinates":[5.7406160634999...
17  {"type":"Point","coordinates":[5.7403307645798...
18  {"type":"Point","coordinates":[5.7403963060240...
19  {"type":"Point","coordinates":[5.7400473545578...
20  {"type":"Point","coordinates":[5.7390770044873...
21  {"type":"Point","coordinates":[5.7383469588646...
22  {"type":"Point","coordinates":[5.7409751280578...
23  {"type":"Point","coordinates":[5.7392769451935...
24  {"type":"Point","coordinates":[5.7399264147752...
25  {"type":"Point","coordinates":[5.7411761973713...
26  {"type":"Point","coordinates":[5.7411335277529...
27  {"type":"Point","coordinates":[5.7408783730587...
28  {"type":"Point","coordinates":[5.7408581815179...
29  {"type":"Point","coordinates":[5.741094598394,...
30  {"type":"Point","coordinates":[5.7406658488820...
31  {"type":"Point","coordinates":[5.7403463681612...
32  {"type":"Point","coordinates":[5.7410269936123...
33  {"type":"Point","coordinates":[5.7409604901656...
34  {"type":"Point","coordinates":[5.7394744029422...
35  {"type":"Point","coordinates":[5.7409512222316...
36  {"type":"Point","coordinates":[5.7406254233150...
37  {"type":"Point","coordinates":[5.7401939987552...
38  {"type":"Point","coordinates":[5.7398037254922...
39  {"type":"Point","coordinates":[5.7412174760479...
40  {"type":"Point","coordinates":[5.7406763192688...
41  {"type":"Point","coordinates":[5.7408526319895...
42  {"type":"Point","coordinates":[5.7403229666223...
43  {"type":"Point","coordinates":[5.7401584544243...
44  {"type":"Point","coordinates":[5.7401336451685...
45  {"type":"Point","coordinates":[5.7400247549761...
46  {"type":"Point","coordinates":[5.7402179784422...
47  {"type":"Point","coordinates":[5.7394253565207...
48  {"type":"Point","coordinates":[5.7389290847045...
49  {"type":"Point","coordinates":[5.7384707881507...

[50 rows x 32 columns]

Pour combien d’arbres manque-t-il l’information concernant la date de
plantation ?

In [86]:
df.ANNEEDEPLANTATION.isna().sum()

pandas.core.series.Series

In [61]:
df.count()

ELEM_POINT_ID            31892
CODE                     31892
NOM                      31892
GENRE                    31892
GENRE_DESC               31892
CATEGORIE                31892
CATEGORIE_DESC           31892
SOUS_CATEGORIE           31892
SOUS_CATEGORIE_DESC      31892
CODE_PARENT              31892
CODE_PARENT_DESC         31892
ADR_SECTEUR              31892
BIEN_REFERENCE           31892
GENRE_BOTA               31454
ESPECE                   29710
VARIETE                   4195
STADEDEDEVELOPPEMENT     29511
EQUIPE                       0
REMARQUES                 1512
ANNEEDEPLANTATION        31129
RAISONDEPLANTATION        2744
TRAITEMENTCHENILLES       2265
COURRIER                     0
IDENTIFIANTPLU             604
TYPEIMPLANTATIONPLU        604
INTITULEPROTECTIONPLU      604
ANNEEABATTAGE                0
ESSOUCHEMENT                 0
DIAMETREARBRE                0
CAUSEABATTAGE                0
COLLECTIVITE             31498
GeoJSON                  31892
dtype: int64

In [71]:
df.ANNEEDEPLANTATION.size / (2020 - min(df.ANNEEDEPLANTATION))

332.2083333333333

Afficher tous les arbres ayant été plantés l’année de votre naissance.

In [98]:
df.ANNEEDEPLANTATION.value_counts()[1982]

374

Afficher tous les arbres ayant été plantés depuis votre année de naissance.

In [100]:
df[df.ANNEEDEPLANTATION>1982].shape[0]

17365

Quel Maire a planté le plus d’arbres à Grenoble ?

In [102]:
mayors = [['Paul Mistral',1919],['Leon Martin',1932],['Paul Cocat',1935],['Frederic Lafleur',1944],['Leon Martin',1945],['Marius Bally',1947],['Raymond Perinetti',1948],['Leon Martin',1949],['Albert Michallon',1959],['Hubert Dubedout',1965],['Alain Carignon',1983],['Michel Destot',1995],['Eric Piolle',2014]]

Avec cette liste de maires avec leur année d'élection on va construire un datatype contenant les années et le maire en poste.

In [126]:
def mayor_of_year(year):
    for mandat in mayors:
        if year >= mandat[1]:
            mayor = mandat[0]
    return(mayor)

data_mayor = []
for year in range(1924, 2020):
    data_mayor.append((year, mayor_of_year(year)))
df2 = pd.DataFrame(data_mayor ,columns=['ANNEEDEPLANTATION','mayor'])
df2

    ANNEEDEPLANTATION         mayor
0                1924  Paul Mistral
1                1925  Paul Mistral
2                1926  Paul Mistral
3                1927  Paul Mistral
4                1928  Paul Mistral
..                ...           ...
91               2015   Eric Piolle
92               2016   Eric Piolle
93               2017   Eric Piolle
94               2018   Eric Piolle
95               2019   Eric Piolle

[96 rows x 2 columns]

On fait une jointure des deux data frames, avec comme clé l'année de plantation :

In [134]:
left = df
right = df2

result = pd.merge(left, right, on='ANNEEDEPLANTATION').head(50)
result[['GENRE_BOTA', 'mayor']]

   GENRE_BOTA            mayor
0        Acer  Hubert Dubedout
1        Acer  Hubert Dubedout
2    Carpinus  Hubert Dubedout
3     Robinia  Hubert Dubedout
4     Robinia  Hubert Dubedout
5     Robinia  Hubert Dubedout
6        Acer  Hubert Dubedout
7    Carpinus  Hubert Dubedout
8     Robinia  Hubert Dubedout
9        Acer  Hubert Dubedout
10    Populus  Hubert Dubedout
11    Populus  Hubert Dubedout
12    Robinia  Hubert Dubedout
13       Acer  Hubert Dubedout
14    Populus  Hubert Dubedout
15       Acer  Hubert Dubedout
16    Robinia  Hubert Dubedout
17       Acer  Hubert Dubedout
18    Robinia  Hubert Dubedout
19       Acer  Hubert Dubedout
20      Salix  Hubert Dubedout
21       Acer  Hubert Dubedout
22    Populus  Hubert Dubedout
23    Robinia  Hubert Dubedout
24    Populus  Hubert Dubedout
25    Robinia  Hubert Dubedout
26    Populus  Hubert Dubedout
27    Populus  Hubert Dubedout
28       Acer  Hubert Dubedout
29   Carpinus  Hubert Dubedout
30    Populus  Hubert Dubedout
31    Robinia  Hubert Dubedout
32    Populus  Hubert Dubedout
33       Acer  Hubert Dubedout
34       Acer  Hubert Dubedout
35    Robinia  Hubert Dubedout
36       Acer  Hubert Dubedout
37       Acer  Hubert Dubedout
38       Acer  Hubert Dubedout
39       Acer  Hubert Dubedout
40       Acer  Hubert Dubedout
41       Acer  Hubert Dubedout
42       Acer  Hubert Dubedout
43    Populus  Hubert Dubedout
44    Robinia  Hubert Dubedout
45    Robinia  Hubert Dubedout
46    Robinia  Hubert Dubedout
47       Acer  Hubert Dubedout
48       Acer  Hubert Dubedout
49    Robinia  Hubert Dubedout

Récupération des données concernant le genre botanique et l'espèce

In [140]:
df.loc[:, ["GENRE_BOTA", "ESPECE"]]

      GENRE_BOTA     ESPECE
0           Acer        NaN
1           Acer        NaN
2       Fraxinus  excelsior
3       Carpinus    betulus
4          Alnus    cordata
...          ...        ...
31887       Acer  campestre
31888      Picea      abies
31889      Picea      abies
31890     Betula  verrucosa
31891       Acer  campestre

[31892 rows x 2 columns]

Pour combien d'arbres manque-t-il l’information concernant le genre
botanique ?

In [145]:
df.GENRE_BOTA.isna().sum()

438

In [160]:
df.loc[:, ["ANNEEDEPLANTATION", "GENRE_BOTA", "ESPECE"]].sort_values("ANNEEDEPLANTATION", ascending=False)

       ANNEEDEPLANTATION    GENRE_BOTA      ESPECE
19349             2019.0  Koelreuteria  paniculata
5439              2019.0        Prunus   serrulata
16114             2019.0      Magnolia       kobus
5438              2019.0        Prunus       padus
5440              2019.0        Euodia   daniellii
...                  ...           ...         ...
31638                NaN           NaN         NaN
31767                NaN      Fraxinus         NaN
31768                NaN         Fagus   sylvatica
31769                NaN         Fagus   sylvatica
31770                NaN         Fagus   sylvatica

[31892 rows x 3 columns]

On passe à l'itération 2 !!!

On cherche à lister les différents genres présents

In [172]:
df.GENRE_BOTA.unique().size

120

On va lister les différentes espèces maintenant

In [191]:
toto = df.loc[:, ["ANNEEDEPLANTATION", "GENRE_BOTA", "ESPECE"]]
toto.groupby("ESPECE")

pandas.core.groupby.generic.DataFrameGroupBy